<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css"> 
    <link rel="icon" href="img/weather.png"
<title> About </title>
</head>


<body>
<div class="main-content">

     {{>header}}
   <p1> Created by {{name}}</p1>
  
    <br>
    <img src="img/Divija.jpg">

</div> 

      

{{>footer}}
</body>


</html>